openapi: 3.1.0
info:
  title: Charging Station API - Sessions
  description: API endpoints for managing charging sessions
  version: 1.0.0
servers:
  - url: https://api.chargeapi.com/v1
    description: Production server

paths:
  /sessions/start:
    post:
      summary: Start a charging session
      description: Initiate a new charging session at a specific station
      operationId: startSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - station_id
                - payment_method_id
              properties:
                station_id:
                  type: string
                payment_method_id:
                  type: string
                connector_id:
                  type: string
                max_power:
                  type: number
                  description: Maximum power limit in kW

  /sessions/stop:
    post:
      summary: Stop a charging session
      description: End an ongoing charging session
      operationId: stopSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
              properties:
                session_id:
                  type: string
                stop_reason:
                  type: string
                  enum: [completed, user_request, error, timeout]

  /sessions/{session_id}:
    get:
      summary: Get session details
      description: Retrieve detailed information about a specific charging session
      operationId: getSessionDetails
      parameters:
        - name: session_id
          in: path
          required: true
          description: Unique identifier of the session
          schema:
            type: string

  /sessions/user/{user_id}:
    get:
      summary: Get user's charging history
      description: Retrieve all past charging sessions for a specific user
      operationId: getUserSessions
      parameters:
        - name: user_id
          in: path
          required: true
          description: Unique identifier of the user
          schema:
            type: string
        - name: start_date
          in: query
          description: Filter sessions from this date
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Filter sessions until this date
          schema:
            type: string
            format: date

  /sessions/fleet/{fleet_id}:
    get:
      summary: Get fleet charging history
      description: Retrieve charging history for an entire fleet
      operationId: getFleetSessions
      parameters:
        - name: fleet_id
          in: path
          required: true
          description: Unique identifier of the fleet
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date

  /sessions/reserve:
    post:
      summary: Reserve a charger
      description: Make a reservation for a charging station
      operationId: reserveCharger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - station_id
                - start_time
              properties:
                station_id:
                  type: string
                start_time:
                  type: string
                  format: date-time
                duration:
                  type: integer
                  description: Duration in minutes

  /sessions/unlock:
    post:
      summary: Unlock a charger
      description: Remotely unlock a charging station for use
      operationId: unlockCharger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - station_id
              properties:
                station_id:
                  type: string
                unlock_code:
                  type: string

  /sessions/active:
    get:
      summary: Get active sessions
      description: Retrieve all currently active charging sessions
      operationId: getActiveSessions
      parameters:
        - name: fleet_id
          in: query
          description: Filter by fleet ID
          schema:
            type: string
        - name: user_id
          in: query
          description: Filter by user ID
          schema:
            type: string

components:
  schemas:
    Session:
      type: object
      properties:
        id:
          type: string
        station_id:
          type: string
        user_id:
          type: string
        fleet_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, completed, error, interrupted]
        energy_delivered:
          type: number
          description: Energy delivered in kWh
        duration:
          type: integer
          description: Duration in minutes
        cost:
          type: number
        payment_status:
          type: string
          enum: [pending, completed, failed]
        connector_type:
          type: string
          enum: [CCS, CHAdeMO, Type2, Tesla]

    SessionSummary:
      type: object
      properties:
        id:
          type: string
        station_name:
          type: string
        start_time:
          type: string
          format: date-time
        duration:
          type: integer
        energy_delivered:
          type: number
        cost:
          type: number
        status:
          type: string
          enum: [active, completed, error, interrupted]

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string

security:
  - ApiKeyAuth: []