openapi: 3.1.0
info:
  title: Charging Station API - Webhook Events
  description: API endpoints for webhook event notifications and configurations
  version: 1.0.0
servers:
  - url: https://api.chargeapi.com/v1
    description: Production server

paths:
  /webhooks/events:
    get:
      summary: List webhook events
      description: Get a list of all possible webhook events
      operationId: listWebhookEvents

  /webhooks/charge-events:
    get:
      summary: Get charging events
      description: Retrieve charging-related webhook events
      operationId: getChargeEvents
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [started, completed, interrupted]
        - name: since
          in: query
          schema:
            type: string
            format: date-time

  /webhooks/payment-events:
    get:
      summary: Get payment events
      description: Retrieve payment-related webhook events
      operationId: getPaymentEvents
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [succeeded, failed, refunded]
        - name: since
          in: query
          schema:
            type: string
            format: date-time

  /webhooks/station-events:
    get:
      summary: Get station events
      description: Retrieve station-related webhook events
      operationId: getStationEvents
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [status_change, maintenance, offline]
        - name: station_id
          in: query
          schema:
            type: string

  /webhooks/fleet-events:
    get:
      summary: Get fleet events
      description: Retrieve fleet-related webhook events
      operationId: getFleetEvents
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [balance_low, transaction_completed]

  /webhooks/vehicle-events:
    get:
      summary: Get vehicle events
      description: Retrieve vehicle-related webhook events
      operationId: getVehicleEvents
      parameters:
        - name: vehicle_id
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [connected, disconnected, charging_started, charging_completed]

components:
  schemas:
    WebhookEvent:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        timestamp:
          type: string
          format: date-time
        data:
          type: object
        status:
          type: string
        retry_count:
          type: integer

    ChargingEvent:
      type: object
      properties:
        session_id:
          type: string
        station_id:
          type: string
        status:
          type: string
          enum: [started, completed, interrupted]
        duration:
          type: integer
        energy_delivered:
          type: number
        timestamp:
          type: string
          format: date-time

    PaymentEvent:
      type: object
      properties:
        payment_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        status:
          type: string
          enum: [succeeded, failed, refunded]
        timestamp:
          type: string
          format: date-time

    StationEvent:
      type: object
      properties:
        station_id:
          type: string
        event_type:
          type: string
          enum: [status_change, maintenance, offline]
        status:
          type: string
        reason:
          type: string
        timestamp:
          type: string
          format: date-time

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

security:
  - ApiKeyAuth: []